/* You can add global styles to this file, and also import other style files */
.linha-botoes button,
.linha-botoes a {
    margin: 8px 8px 0px 0px;
}

.form-padrao {
    display: flex;
    flex-direction: column;
}

.form-padrao > * {
    width: 100%;
}

.componente-container {
    padding: 15px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.red-snackbar {
    background: rgb(250, 84, 84);
}

.green-snackbar {
    background: rgb(67, 156, 106);
}

.clipped {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
